{{> head }}

{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Discos en Córdoba</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis praesentium fuga tenetur voluptate eum, amet
            totam tempora? Vel velit nemo quisquam rerum, blanditiis, dignissimos inventore architecto libero porro
            quidem at?</p>
    </div>
    <div class="col-4">
        <img src="assets/img/icon.png" class="img-thumbnail">
    </div>
</div>

{{> footer}}